[Desktop Entry]
Name=Dart Cup
Comment=Dart Scoreboard Tracker
Exec=python3 /absoluter/pfad/zu/deiner/datei/dart-cup.py
Icon=games-board
Terminal=false
Type=Application
Categories=Game;
