[Desktop Entry]
Categories=Game;
Comment[de_DE]=Dart Scoreboard Tracker
Comment=Dart Scoreboard Tracker
Name[de_DE]=Dart Cup
Name=Dart Cup
Exec=python3 -B /absoluter/pfad/zu/deiner/datei/dart_cup.py
Icon=/absoluter/pfad/zu/deiner/dateip/ui/Blindfolded-Darts-Player.svg
Path=/absoluter/pfad/zu/deiner/datei/
StartupWMClass=python3
StartupNotify=true
Terminal=false
Type=Application
